:root{
    /* Colors */
    --background-color: #1f2937;  /*Header, Hero, Footer BG */
    --primary-text: #F9FAF8; /*Background Color Title */
    --secondary-text: #E5E7EB; /*Header list and Hero Secondary */
    --logo-text:var(--primary-text); /*Logo color */
    --cta-button: #3882f6; /*CTA and Button Color */
    --soft-text: var(--background-color); /* Info and Quote Text */
    --quote-back: var(--secondary-text); /*Quote BG*/

    /* Fonts */
    --main-font: 'Roboto', sans-serif;
    --hero-size: 48px;
    --hero-seco: 18px;
    --header-logo: 24px;
    --info-head: 36px;
    --quote-text: 36px;
    --weight-heavy: 900;
    --weight-light: 300;
}

/* CSS Resets, Ul, A and Img */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: fit-content;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    height: 150px;
    width: 150px;
    display: block;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

.body{
    min-width: 100vh;
    margin: 0;
}

/* Styles  */
body{
    font-family: var(--main-font);
}

.header,
.hero,
.footer{
    background-color: var(--background-color);
}

.hero-title{
    font-size: var(--hero-size);
    color: var(--primary-text);
    font-weight: var(--weight-heavy);
}

.hero-text,
.links{
    font-size: var(--hero-seco);
    color: var(--secondary-text);
}

.logo{
    font-size: var(--header-logo);
    color: var(--logo-text);
}

.hero-button,
.cta-button,
.cta-grp{
    background-color: var(--cta-button);
    color: var(--secondary-text);
}

.info-title{
    font-size: var(--info-head);
    color: var(--soft-text);
    font-weight: var(--weight-heavy);
    text-align: center;
}

.quo{
    background-color: var(--quote-back);

}

blockquote{
    font-size: var(--quote-text);
    color: var(--background-color);
    font-weight: var(--weight-light);
    font-style: italic;
}

figcaption{
    font-weight: var(--weight-heavy);
    text-align: right;
}

.footer{
    text-align: center;
    color: var(--primary-text);
}

/* Flexbox setup padres*/

.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header,
.hero,
.info,
.quo,
.cta,
.footer{    
    display: flex;
}

/* Propiedades Flex Padres */

.header{
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.hero{
    justify-content: space-evenly;
    flex: 1;
    gap: 32px;
    padding: 20px ;
}

.info{
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 60px;
    padding: 20px;
}

.quo{
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
}

.cta{
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footer{
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

/* Flex hijos con propiedades */

ul,
.nav{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 16px;
    align-items: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-img{
    display: flex;
    width: auto;
}
.info-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.info-s1,
.info-s2,
.info-s3,
.info-s4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-stx1,
.info-stx2,
.info-stx3,
.info-stx4{
    max-width: 150px;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;

}

.cta-grp{
    display: flex;   
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cta-textgrp{
    display: flex;
    flex-direction: column;
}
